* {
    box-sizing: border-box;
    font-family: 'Nanum Brush Script', cursive;
}

.content {
    margin: 3% auto;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

h1 {
   font-size: 60px;
   margin: 0;
}
